<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #header{
            height:25px;
            width:100%;
            background-color:black;
            color:white;
        }
    </style>
</head>

<body>
    <div id="header">
        <a href="/Home/Index" style="text-decoration:none;color:white;">Adrian makes good macaroni</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
